body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
}

.player {
  background: #1e293b;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rank {
  font-weight: bold;
  color: gold;
}

.coins {
  color: #22c55e;
}